<h1>Edit "<%= @flat.name %>"</h1>

<%# howdy %>
<div>
  <%= form_with model: @flat do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label fw-bold" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :address, class: "form-label fw-bold" %>
      <%= f.text_field :address, class: "form-control" %>
    </div>
    <div></div>
      <%= f.label :description, class: "form-label fw-bold" %>
      <%= f.text_field :description, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :price_per_night, class: "form-label fw-bold" %>
      <%= f.number_field :price_per_night, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= f.label :number_of_guests, class: "form-label fw-bold" %>
      <%= f.number_field :number_of_guests, class: "form-control" %>
    </div>
    <%= f.submit "Update", class: "btn btn-outline-primary" %>
  <% end %>
</div>
