<h1><%= @flat.name %></h1>

<div>
  <p><%= @flat.description %>
  <p>Address: <%= @flat.address %>
  <p>Price per night: $<%= @flat.price_per_night %>
  <p>Capacity: <%= "🧍‍♂️" * @flat.number_of_guests %></p>
</div>

<%# No progress today :( %>

<div>
  <h3>Reviews:</h3>
    <% @flat.reviews.each do |review| %>
    <div class = "card">
      <div class="card-body">
        <p class = "card-title">Rating: <%= "⭐️" * review.rating %></p>
        <p>
          <%= review.content %>
          <%= link_to "🗑️", review_path(review), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "ms-5" %>
        </p>
      </div>
    </div>
    <% end %>

</div>

<div class = "d-flex">
  <p>
    <%= link_to "Add Review", new_flat_review_path(@flat), class: "btn btn-primary text-decoration-none m-2"%>
  </p>
  <p>
    <%= link_to "Update", edit_flat_path(@flat), class: "btn btn-outline-primary text-decoration-none m-2"%>
  </p>
  <p>
    <%= link_to "Delete",
    flat_path(@flat),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
    class: "btn btn-danger text-decoration-none m-2"
    %>
  </p>
</div>
